.App {
  text-align: center;
}

/* BoxList */
.App > div{
  display:inline-block;
}

body{
  background-color: hsl(266, 25%, 70%);
}

form{
  padding: 10px;
  margin: 10px;
}

form > label{
  display:flex;
  width: 50px;
  margin:auto;
}

input{
  width: 100px;
}

input[type="submit"]{
  border-radius: 10px;
}